In [ ]:
#permet de convertir le fichier csv en parquet

import pyarrow.parquet as pq
import gc
import pandas as pd


import importlib
import utils
importlib.reload(utils)


print(dir(utils))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'compute_null_values', 'count_nb_lines', 'count_target_value', 'extract_division_names', 'pa', 'pc', 'pq', 'siren_filter', 'var_filter']

Ce notebook convertit le fichier du bilan financier du format csv au format parquet

In [2]:
gc.set_threshold(500, 5, 5)
gc.collect()

0

In [3]:
df = pd.read_csv("datasets_originaux/ratios_inpi_bce.csv",sep=";") 
df.to_parquet("datasets_originaux/ratios_inpi_bce.parquet")

In [4]:
del df
gc.collect()

0

In [5]:
bilan_financier=pq.ParquetFile("datasets_originaux/ratios_inpi_bce.parquet")


groupe=bilan_financier.read_row_group(0)

df=groupe.to_pandas()

df.head(10)

,siren,date_cloture_exercice,Chiffre_d_affaires,Marge_brute,EBE,EBIT,Resultat_net,Taux_d_endettement,Ratio_de_liquidite,Ratio_de_vetuste,...,CAF_sur_CA,Capacite_de_remboursement,Marge_EBE,Resultat_courant_avant_impots_sur_CA,Poids_BFR_exploitation_sur_CA_jours,Rotation_des_stocks_jours,Credit_clients_Jours,Credit_fournisseurs_Jours,type_bilan,confidentiality
0,818838526,2019-12-31,117153,108293,20928,15864,11260,345.171,136.698,80.402,...,13.447,16.292,17.864,11.307,59.912,9.551,2.958,10.751,C,Public
1,818838674,2020-12-31,0,0,0,0,146405,0.966,177.563,42.886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,Partiellement confidentiel
2,818839813,2021-12-31,147077,147077,2602,1984,1669,-393.340,73.090,50.008,...,1.554,0.000,1.769,1.349,-47.126,0.000,61.396,1.829,S,Public
3,818839946,2016-12-31,236381,84430,18017,17912,15159,29.296,188.664,95.760,...,6.454,0.310,7.622,7.528,7.549,7.635,0.523,17.184,C,Public
4,818841736,2019-07-31,28646,28646,23385,23385,19877,0.000,273.211,NaN,...,69.388,0.000,81.634,81.634,320.263,0.000,359.192,314.624,C,Public
5,818842411,2020-12-31,22612,16712,1306,146,24,-254.043,41.632,23.196,...,5.046,2.103,4.331,0.312,-167.948,25.855,0.000,82.851,S,Public
6,818842650,2019-12-31,0,0,-229,-229,-230,0.000,104.682,NaN,...,NaN,0.000,NaN,NaN,NaN,NaN,NaN,1482.969,S,Public
7,818843088,2023-12-31,0,0,-1743,-1743,-2068,-97.958,90.683,NaN,...,NaN,-8.767,NaN,NaN,NaN,NaN,NaN,700.172,C,Public
8,818843666,2022-12-31,0,0,0,0,12146,107.522,2533.047,17.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,Partiellement confidentiel
9,818843724,2022-06-30,471290,303274,37155,32046,26426,1.878,137.051,30.368,...,6.431,0.053,7.542,6.513,9.314,57.916,36.433,67.866,C,Public

In [6]:
df.columns

Index(['siren', 'date_cloture_exercice', 'Chiffre_d_affaires', 'Marge_brute',
       'EBE', 'EBIT', 'Resultat_net', 'Taux_d_endettement',
       'Ratio_de_liquidite', 'Ratio_de_vetuste', 'Autonomie_financiere',
       'Poids_BFR_exploitation_sur_CA', 'Couverture_des_interets',
       'CAF_sur_CA', 'Capacite_de_remboursement', 'Marge_EBE',
       'Resultat_courant_avant_impots_sur_CA',
       'Poids_BFR_exploitation_sur_CA_jours', 'Rotation_des_stocks_jours',
       'Credit_clients_Jours', 'Credit_fournisseurs_Jours', 'type_bilan',
       'confidentiality'],
      dtype='object')

In [7]:
del df, bilan_financier,groupe
gc.collect()

0